@using shop.Data.Models
@model IEnumerable<Categorys>
@{
    Layout = "_Layout";
}
<form method="post" enctype="multipart/form-data">
    <div>
        Наименование:
        <br /><input name="name" placeholder="Наименование:" />
    </div>
    <div>
        Описание:
        <br /><input name="description" placeholder="Описание:" />
    </div>
    <input type="submit" value="Добавить" />
</form>
